$primary-color: #D6E5E3;
$blue: #0987c2;
// $off-blue: #094f5f;
$off-blue: #448e99;
// $light-blue: #dce8f8;
$light-blue: #e2f7fc;

$white: #ffffff;
$grey: #e2e2e2;
$off-white: #929493;
$black: #343434
