@use '../../../styles/config'as c;

.headerSection {
  margin: 0;
  padding: 0;
  background-color: c.$primary-color;
}

.header {
  display: flex;
  flex-flow: row wrap;
  align-items: center;
  align-content: center;
  height: 65px;
}

.title {
  margin-left: auto;
  margin-right: 35px;
}



.notIcon {
  display: inline-block;
  position: relative;
  margin-left: 15px;

  span {
    position: absolute;
    top: -5px;
    right: -9px;
    font-size: 1rem;
    width: 25px;
    background-color: #ef3e36;
    border: 1px solid transparent;
    border-radius: 25px;
    margin: 0;
    padding-bottom: 0;
    height: 25px;
    text-align: center;
    padding: 0;
  }
}



.notMenu {
  margin: 0;
  padding: 0;
  background-color: #D6E5E3;
  min-width: 40vw;
  max-width: 50vw;
  border-radius: 15px;
}
