.modalHeader {
  display: flex;
  flex-flow: row nowrap;
  justify-content: space-between;
  align-items: center;
  align-content: center;
  padding: 15px;

  // .closeBtn {
  //   background-color: transparent;
  //   border: 2px solid #e2e3e3;
  //   border-radius: 20%;
  //   padding: 7px;
  //   cursor: pointer;

  //   &:hover {
  //     background-color: #535050;
  //     color: #f0f0f0;
  //   }
  // }
}
