.patients {
  // okk
  padding: 25px;
  margin: 0;
  width: 100%;
  background-color: #f8f7fd;
}

.navHeader {

  // okk
  nav {
    margin: 0;
    padding: 0
  }

  ul {
    margin: 0;
    padding: 0;
    list-style: none;
    display: flex;
    flex-flow: row wrap;
    justify-content: flex-start;
  }

  svg {
    fill: currentColor;
    width: 31px;
    height: 31px;
  }

  button {
    background-color: transparent;
    border: none;
    font-size: 2em;
    padding: 15px;
    color: #7b7e7b;
    cursor: pointer;
    margin: 0 5px;

    &[data-active="true"] {
      border-bottom: 5px solid #2f7694;
      border-radius: 5px;
      color: #2f7694;
    }
  }
}



.leftBtn {
  // okk
  margin-right: auto;

  button {
    background-color: #0097ae;
    color: #fff;
    border-radius: 10px;
  }
}

.icon {
  // okk
  display: inline-block;
  padding: 0 10px;
  color: inherit;

  svg {
    height: 31px;
    width: 31px;
    fill: currentColor;
  }

}


.contents {
  // okk
  display: grid;
  grid-template-columns: repeat(auto-fill, minmax(300px, 1fr));
  padding: 25px;
  gap: 15px;
}
